:root {
  --primary-color: #7288fa;
  --text-color: #333f4e;
  --text-color-light: #a3b2c7;
  --error-color: #ff7474;
  --bg-primary-color: #f2f4f8;
}

.field {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px #dddddd;
  padding: 1rem;
  color: inherit;
}

.field::placeholder,
.field::-ms-input-placeholder {
  color: var(--text-color-light);
}

.field__losign {
  padding-block: 2rem 1rem;
  border-radius: 10px;
  font-size: 0.875rem;
}

.field__search {
  border-radius: 26px;
  font-size: 0.75rem;
  padding-left: 3rem;
}

.field__error {
  border: 1px solid var(--error-color);
}

.btn__primary {
  border: none;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 26px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 5px 10px #b4c0fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__primary img {
  margin-right: 4px;
}

body {
  color: var(--text-color);
}

.main {
  height: 100vh;
}

.main__primary {
  margin-top: 2rem;
}

.bold {
  font-weight: 600;
}

.losign__container {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.intro {
  background-color: var(--primary-color);
  display: grid;
  padding: 3rem 6rem;
  color: white;
  justify-items: center;
  align-items: center;
}

.intro .logo {
  justify-self: start;
}

.intro .logo a {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 10px;
  font-size: 1.5rem;
  font-weight: medium;
}

.losign__container h1 {
  font-size: 2rem;
  font-weight: bold;
}

.intro .desc p {
  font-size: 1rem;
  font-weight: regular;
}

.intro .logo img {
  width: 70px;
}

.desc-img img {
  width: 200px;
}

/* board */
.board {
  background-color: white;
  padding: 3rem 10rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.board form {
  width: 100%;
  display: grid;
}

.signup__form {
  row-gap: 20px;
}

.login__form {
  row-gap: 35px;
}

.board h2 {
  font-size: 2.5rem;
  justify-self: start;
}

.form__row {
  position: relative;
}

.form__row label {
  font-size: 0.875rem;
  position: absolute;
  top: 11px;
  left: 1rem;
}

.password {
  padding-inline: 1rem 3rem;
}

.board a {
  color: var(--primary-color);
}

.form__row i {
  position: absolute;
  right: 1rem;
  bottom: 0.7rem;
}

.form__row i:hover {
  cursor: pointer;
}

.dnone {
  display: none;
}

.error {
  color: var(--error-color);
  font-size: 0.6rem;
  position: absolute;
  left: 1rem;
  top: 72px;
}

.board p,
.emailcheck p {
  font-size: 0.8rem;
}

/* email check prompt */
.emailcheck {
  background-color: white;
  display: grid;
  padding: 3rem 10rem;
  /* color: white; */
  align-content: center;
  row-gap: 2rem;
  justify-items: center;
  /* align-items: center; */
}

/* ---------- index.html ---------- */
/* primary container */
.container__primary {
  padding: 2rem;
}

/* header */
header {
  padding-inline: 2rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 10px;
}

.search__bar {
  position: relative;
  width: 32rem;
  margin-inline: 7rem;
}

.search__bar img {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.search__bar input {
  line-height: 21px;
}

.user__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
}

.user__profile img {
  width: 53px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user__profile img:hover {
  cursor: pointer;
}

.user__profile span {
  width: 100px;
}

/* objects */
.objects__container {
  border-radius: 40px;
  background-color: var(--bg-primary-color);
  padding: 2rem;
  position: relative;
}

.objects__container h2 {
  font-size: 1rem;
  font-weight: 400;
}

.objects__container h2 span {
  font-weight: 600;
}

.objects {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 14px 10px;
  overflow: auto;
  height: calc(100vh - 305px);
}

.object {
  background-color: white;
  padding: 1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  /* position: relative; */
}

.obj__img {
  background-color: var(--bg-primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.obj__img img {
  width: 35%;
}

.obj__desc {
  font-size: 0.75rem;
  margin-right: 1rem;
}

.obj__desc h3 {
  font-weight: 600;
}

.obj__desc p {
  font-weight: 400;
}

.obj__desc p,
.obj__desc h3 {
  width: 135px;
  height: 22px;
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.obj__desc p::-webkit-scrollbar,
.obj__desc h3::-webkit-scrollbar {
  display: none;
}

.object button {
  border: none;
  background-color: inherit;
  display: flex;
}

.object > button img {
  width: 5px;
}

/* popover menu */
.options__menu {
  position: fixed;
  background-color: white;
  z-index: 100;
  /* top: 285px;
  left: 537px; */
  width: 240px;
  display: grid;
  row-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px #dddddd;
}

.options__menu h4 {
  font-weight: 600;
  font-size: 0.875rem;
  padding-inline: 0.5rem;
}

.options__menu ul {
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

.option__button {
  align-items: center;
  column-gap: 10px;
  padding: 0.4rem 0.5rem;
  margin-block: 0.3rem;
  width: 100%;
  border-radius: 20px;
}

.option__button:hover {
  background-color: var(--bg-primary-color);
}

.option__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.option__icon img {
  width: 1rem;
}

.share {
  background-color: rgba(249, 171, 114, 0.1);
}
.download {
  background-color: rgba(114, 136, 250, 0.1);
}
.delete {
  background-color: rgba(255, 116, 116, 0.1);
}

.options__menu li:nth-child(1),
.options__menu li:nth-child(2) {
  border-bottom: 1px solid var(--bg-primary-color);
}

/* add people */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
}

form.addpeople {
  width: 400px;
  box-shadow: 0 0 20px #aaaaaa;
  color: var(--text-color);
  position: relative;
  padding-block: 1rem 0;
  border-radius: 20px;
  transform: translateY(-150%);
  transition: transform 0.5s ease-in-out;
  background-color: white;
}

form.addpeople.active {
  transform: translateY(0);
}

.addpeople h2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem;
  text-align: center;
}

.addpeople h3 {
  font-weight: 600;
  font-size: 1rem;
}

.addpeople p {
  font-size: 0.75rem;
  color: var(--text-color-light);
}

/* search people */
.search__people {
  display: flex;
  justify-content: center;
  position: relative;
}

.search__people input {
  width: 85%;
  padding: 0.5rem 1.5rem;
  padding-left: 2.5rem;
  border-radius: 20px;
}

.search__people img {
  position: absolute;
  top: 11px;
  left: 44px;
  width: 1rem;
  height: 1rem;
}

.people {
  height: 20rem;
  overflow: auto;
}

.person {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
}

.person:hover {
  cursor: pointer;
  background-color: var(--bg-primary-color);
}

.person img,
.people3 img {
  width: 44px;
  border-radius: 50%;
  font-size: 0.5rem;
  height: 44px;
  overflow: auto;
  /* white-space: nowrap; */
  scrollbar-width: none;
}

.person img::-webkit-scrollbar,
.people3 img::-webkit-scrollbar {
  display: none;
}

.person__info {
  width: 247px;
}

.person__info p,
.person__info h3 {
  width: 100%;
  /* height: 22px; */
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.person__info p::-webkit-scrollbar,
.person__info h3::-webkit-scrollbar {
  display: none;
}

.people3 {
  height: 83px;
  padding: 1rem;
  box-shadow: 0 -5px 5px -5px #dddddd;
}

.people3 img:nth-child(2) {
  position: relative;
  left: -1rem;
}
.people3 img:nth-child(3) {
  position: relative;
  left: -2rem;
}

form.addpeople button[type="button"] {
  position: absolute;
  left: 28px;
  top: 20px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0 15px #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.addpeople button[type="button"] img {
  width: 50%;
}

form.addpeople button[type="submit"] {
  position: absolute;
  bottom: 23px;
  right: 24px;
  width: 30%;
  padding: 0.5rem 1rem;
}

/* pagination */
.pagination {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 80px;
  top: 30px;
}

.pagination button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
